td {
    padding-left: 10px;
}

th {
    padding-left: 5px;
    width: 50%;
    height: 20px;
    font-weight: bold;
	color: brown;
    text-align: left;
}

.book-type-table {
	width: 50%;
    table-layout: fixed;
	margin-left: 400px;
	margin-top: 30px;
}

