html, body, p {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


h2 {
    color: grey;
    font-size: 45px;
	text-shadow: black 0 0 5px;
	letter-spacing: 2px;
	margin-top: 0px;
    margin-bottom: 30px;
	text-align: center;
}

.new-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.grey-text {
	color: grey;
}

.block {
    width: 800px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
	background: url(../img/background.jpg) no-repeat;
	background-position: center;
    background-size: cover;
}